<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="mapping_device"      default="cpu"/>

    <!-- Elevation mapping (CPU version) -->
    <group if="$(eval mapping_device == 'cpu')">

    <!-- Elevation mapping -->
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
    <!-- Front camera -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
      <remap from="~input" to="/camera/depth/color/points"/>
        <remap from="~output" to="/camera/depth/points_downsampled"/>
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.10
            filter_limit_max: 2.0  <!-- Limit the range of points to forward to 6 meters in viewing direction-->
            filter_limit_negative: False
            leaf_size: 0.001  <!-- Limit the density to 6 cm-->
      </rosparam>
    </node>

      <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find tbai_ros_go2_rl_mujoco)/config/elevation_mapping_go2.yaml"/>
        <rosparam command="load" file="$(find tbai_ros_go2_rl_mujoco)/config/post_processing_go2.yaml" />
      </node>
    </group>

    <!-- Elevation mapping (GPU version) -->
    <group if="$(eval mapping_device == 'gpu')">
      <param name="elevation_mapping/elevation_mapping_initial_delay" type="double" value="4.5"/> <!-- 4.5 seconds to wait for the robot to be in the correct position -->
      <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find tbai_ros_go2_rl_mujoco)/config/cupy_parameters_go2.yaml"/>
        <rosparam command="load" file="$(find tbai_ros_go2_rl_mujoco)/config/elevation_mapping_go2_cupy.yaml"/>
      </node>
    </group>

</launch>
