<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="description_name"            default="robot_description"/>
    <arg name="description_file"            default="/home/kb/projects/ros_test/src/tbai_ros/dependencies/tbai_descriptions/robots/go2/go2.urdf"/>
    <arg name="rosbag_file" />
    <arg name="initial_time" default="0.0" />

    <param name="$(arg description_name)" command="$(find xacro)/xacro --inorder $(arg description_file)" />

    <arg name="rvizconfig" default="$(find tbai_ros_go2_rl_mujoco)/launch/rviz/deploy_go2_rl.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />

    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg rosbag_file) --pause --start $(arg initial_time)" output="screen" />

</launch>