<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="output_name" default="rosbag"/>
    <arg name="extra_flags" default=""/>
    <arg name="compress" default="true"/>

    <!-- Record all topics with compression -->
    <node pkg="rosbag" type="record" name="rosbag_record_all" 
          args="-a -o $(arg output_dir) --lz4 $(arg extra_flags)" 
          output="screen" if="$(arg compress)"/>

    <!-- Record all topics without compression -->
    <node pkg="rosbag" type="record" name="rosbag_record_all" 
          args="-a -o $(arg output_dir) $(arg extra_flags)" 
          output="screen" unless="$(arg compress)"/>

</launch>
