[submodule "dependencies/gazebo_robotic_assets"]
	path = dependencies/gazebo_robotic_assets
	url = https://github.com/tbai-lab/gazebo_robotic_assets.git
[submodule "dependencies/elevation_mapping"]
	path = dependencies/elevation_mapping
	url = https://github.com/ANYbotics/elevation_mapping.git
[submodule "dependencies/kindr"]
	path = dependencies/kindr
	url = https://github.com/ANYbotics/kindr.git
[submodule "dependencies/kindr_ros"]
	path = dependencies/kindr_ros
	url = https://github.com/ANYbotics/kindr_ros.git
[submodule "dependencies/message_logger"]
	path = dependencies/message_logger
	url = https://github.com/ANYbotics/message_logger.git
[submodule "dependencies/elevation_mapping_cupy"]
	path = dependencies/elevation_mapping_cupy
	url = https://github.com/lnotspotl/elevation_mapping_cupy.git
[submodule "dependencies/grid_map"]
	path = dependencies/grid_map
	url = https://github.com/lnotspotl/grid_map.git
[submodule "dependencies/pybind11_catkin"]
	path = dependencies/pybind11_catkin
	url = https://github.com/wxmerkt/pybind11_catkin.git
[submodule "dependencies/realsense-ros"]
	path = dependencies/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "dependencies/ddynamic_reconfigure"]
	path = dependencies/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
[submodule "dependencies/HesaiLidar_ROS_2.0"]
	path = dependencies/HesaiLidar_ROS_2.0
	url = https://github.com/lnotspotl/HesaiLidar_ROS_2.0.git
