<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="robot_name"          default="go2"/>
    <arg name="controllers_ns"      default="go2"/>
    <arg name="controllers_args"    default="joint_controller"/>
    <arg name="tbai_config_path"    default="$(find tbai_ros_deploy_go2_mpc)/config/deploy_go2_mpc.yaml"/>
    <arg name="description_name"    default="robot_description"/>
    <arg name="description_file"    default="$(find gazebo_robotic_assets)/resources/go2/urdf/go2_description.urdf"/>

    <arg name="sqp_settings_file" default="$(find tbai_ros_deploy_go2_mpc)/config/sqp.info"/>
    <arg name="frame_declaration_file" default="$(find tbai_ros_deploy_go2_mpc)/config/frame_declarations.info"/>
    <arg name="task_settings_file" default="$(find tbai_ros_deploy_go2_mpc)/config/task.info"/>
    <arg name="target_command_config_file" default="$(find tbai_ros_deploy_go2_mpc)/config/targetCommand.info"/>
    <arg name="controller_config_file" default="$(find tbai_ros_deploy_go2_mpc)/config/controllers.info"/>
    <arg name="gait_file" default="$(find tbai_ros_deploy_go2_mpc)/config/gait.info"/>

    <arg name="network_interface"           default="eth0"/>
    <arg name="unitree_channel"             default="0"/>
    <arg name="run_rviz"                    default="false"/>
    <arg name="run_virtual_joystick"        default="false"/>
    <arg name="run_go2_joystick"            default="true"/>
    <arg name="publish_pointcloud"          default="false"/>
    <arg name="mapping_device"              default="none"/>

    <param name="sqp_settings_file" type="string" value="$(arg sqp_settings_file)"/>
    <param name="frame_declaration_file" type="string" value="$(arg frame_declaration_file)"/>
    <param name="task_settings_file" type="string" value="$(arg task_settings_file)"/>
    <param name="target_command_config_file" type="string" value="$(arg target_command_config_file)"/>
    <param name="controller_config_file" type="string" value="$(arg controller_config_file)"/>
    <param name="gait_file" type="string" value="$(arg gait_file)"/>

    <arg name="mujoco_simulation"            default="false"/>
    <arg name="mujoco_config_file"          default="/home/kb/projects/tbai_mujoco_descriptions/robots/go2/config.yaml"/>
    <group if="$(arg mujoco_simulation)">
        <node name="dsa" pkg="tbai_ros_utils" type="run_bash.py" output="screen"
        args="cd /home/kb/projects/tbai_mujoco &amp;&amp; pixi run -- ./build/simulate/tbai_mujoco $(arg mujoco_config_file)"/>
    </group>

    <!-- Load gazebo description -->
	<param name="$(arg description_name)" command="$(find xacro)/xacro --inorder $(arg description_file)" />

    <!-- Upload config path to ROS param server -->
    <param name="tbai_config_path" type="string" value="$(arg tbai_config_path)"/>
    <param name="robot_name" type="string" value="$(arg robot_name)"/>

    <!-- Set environment variable for config path -->
    <env name="TBAI_GLOBAL_CONFIG_PATH" value="$(arg tbai_config_path)"/>

    <!-- Set environment variable for robot description path -->
    <env name="TBAI_ROBOT_DESCRIPTION_PATH" value="$(arg description_file)"/>
    
    <!-- Set environment variable for network interface -->
    <env name="TBAI_GO2_NETWORK_INTERFACE" value="$(arg network_interface)"/>

    <env name="TBAI_GO2_UNITREE_CHANNEL" value="$(arg unitree_channel)"/>

    <env name="TBAI_GO2_PUBLISH_LIDAR" value="$(arg publish_pointcloud)"/>

    <!-- MuJoCo depth camera pointcloud and RGB image publishing -->
    <env name="TBAI_GO2_SUBSCRIBE_POINTCLOUD" value="$(arg mujoco_simulation)"/>
    <env name="TBAI_GO2_ENABLE_VIDEO" value="$(arg mujoco_simulation)"/>
    <env name="TBAI_GO2_USE_GROUND_TRUTH" value="$(arg mujoco_simulation)"/>

    <!-- Launch simple node -->
    <node name="deploy_go2_mpc" pkg="tbai_ros_deploy_go2_mpc" type="deploy_go2_mpc" output="screen"/>

    <!-- Launch MPC node -->
    <node pkg="tbai_ros_mpc" type="quadruped_mpc_node" name="quadruped_mpc_node" output="screen"/>

    <!-- Launch Gait command node -->
    <node pkg="tbai_ros_deploy_go2_mpc" type="go2_gait_node" name="go2_gait_node"
          output="screen" launch-prefix="x-terminal-emulator -e "/>

    <!-- Launch virtual joystick -->
    <group if="$(arg run_virtual_joystick)">
        <node name="virtual_joystick" pkg="tbai_ros_utils" type="virtual_joystick.py" output="screen"/>
    </group>

    <group if="$(arg run_go2_joystick)">
        <node name="go2_joystick_node" pkg="tbai_ros_deploy_go2_mpc" type="go2_joystick_node" output="screen"/>
    </group>

    <!-- Start Rviz visualizer -->
    <group if="$(arg run_rviz)">
        <arg name="rvizconfig" default="$(find tbai_ros_deploy_go2_mpc)/launch/rviz/deploy_go2_mpc.rviz" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>

    <node pkg="tf" type="static_transform_publisher" name="map2camera" args="0 0 0.00 0 0.22 0  /front_camera /camera_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera2optical" args="0 0 0 4.7124 0 -1.3508  /camera_link /camera_link_optical 100"/>

</launch>
