<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Arguments -->
    <arg name="controllers_ns" default="go2w"/>
    <arg name="tbai_config_path" default="$(find tbai_ros_go2w_mujoco)/config/go2w_dreamwaq_handstand.yaml"/>
    <arg name="run_virtual_joystick" default="true"/>
    <arg name="run_rviz" default="false"/>

    <!-- MuJoCo simulation -->
    <arg name="mujoco_simulation" default="true"/>
    <arg name="mujoco_config_file" default="$(find tbai_descriptions)/mujoco/robots/go2w/config.yaml"/>
    <group if="$(arg mujoco_simulation)">
        <node name="mujoco_sim" pkg="tbai_ros_utils" type="run_bash.py" output="screen"
              args="tbai_mujoco $(arg mujoco_config_file)"/>
    </group>

    <!-- Configure TBAI -->
    <param name="tbai_config_path" type="string" value="$(arg tbai_config_path)"/>
    <param name="robot_name" type="string" value="go2w"/>
    <env name="TBAI_GLOBAL_CONFIG_PATH" value="$(arg tbai_config_path)"/>
    <env name="TBAI_GO2W_USE_GROUND_TRUTH" value="true"/>

    <!-- Load robot description -->
    <param name="robot_description"
           command="cat $(find tbai_descriptions)/urdf/robots/go2w/go2w.urdf"/>

    <!-- Launch Go2W DreamWaQ controller node -->
    <node name="deploy_go2w_dreamwaq" pkg="tbai_ros_go2w_mujoco" type="deploy_go2w_dreamwaq" output="screen"/>

    <!-- Launch Go2W virtual joystick -->
    <group if="$(arg run_virtual_joystick)">
        <node name="go2w_virtual_joystick" pkg="tbai_ros_go2w_mujoco" type="go2w_virtual_joystick.py" output="screen"/>
    </group>

    <!-- Start Rviz visualizer -->
    <group if="$(arg run_rviz)">
        <arg name="rvizconfig" default="$(find tbai_ros_go2w_mujoco)/launch/rviz/go2w.rviz"/>
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen"/>
    </group>

</launch>
