<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="robot_name"          default="anymal_c"/>
    <arg name="tbai_config_path"    default="$(find tbai_ros_mpc)/config/anymal_c/blind/default_config_anymal_c.yaml"/>
    <arg name="urdf_file"           default="$(find tbai_ros_descriptions)/urdf/robots/anymal_c/anymal_c.urdf"/>

    <arg name="sqp_settings_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/sqp.info"/>
    <arg name="frame_declaration_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/frame_declarations.info"/>
    <arg name="task_settings_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/task.info"/>
    <arg name="target_command_config_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/targetCommand.info"/>
    <arg name="controller_config_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/controllers.info"/>
    <arg name="gait_file" default="$(find tbai_ros_mpc)/config/anymal_c/blind/gait.info"/>

    <!-- Debug and visualization -->
    <arg name="debug" default="false"/>
    <arg name="rviz" default="true"/>

    <!-- Upload config path to ROS param server -->
    <param name="tbai_config_path" type="string" value="$(arg tbai_config_path)"/>
    <param name="robot_name" type="string" value="$(arg robot_name)"/>

    <!-- Set environment variable for config path -->
    <env name="TBAI_GLOBAL_CONFIG_PATH" value="$(arg tbai_config_path)"/>

    <param name="sqp_settings_file" type="string" value="$(arg sqp_settings_file)"/>
    <param name="frame_declaration_file" type="string" value="$(arg frame_declaration_file)"/>
    <param name="task_settings_file" type="string" value="$(arg task_settings_file)"/>
    <param name="target_command_config_file" type="string" value="$(arg target_command_config_file)"/>
    <param name="controller_config_file" type="string" value="$(arg controller_config_file)"/>
    <param name="gait_file" type="string" value="$(arg gait_file)"/>

    <!-- Load robot description from URDF file -->
    <param name="robot_description" textfile="$(arg urdf_file)"/>

    <!-- MPC node -->
    <node if="$(arg debug)" pkg="tbai_ros_mpc" type="quadruped_mpc_node" name="quadruped_mpc_node"
          output="screen" launch-prefix="gnome-terminal -- gdb -ex run --args"/>
    <node unless="$(arg debug)" pkg="tbai_ros_mpc" type="quadruped_mpc_node" name="quadruped_mpc_node"
          output="screen"/>

    <!-- Dummy MRT node -->
    <node pkg="tbai_ros_mpc" type="quadruped_dummy_mrt_node" name="quadruped_dummy_mrt_node"
          output="screen"/>

    <!-- Launch Gait command node -->
    <node pkg="tbai_ros_ocs2" type="gait_command_node" name="gait_command_node"
          output="screen" launch-prefix="x-terminal-emulator -e">
        <param name="robot_name" value="$(arg robot_name)"/>
    </node>

    <!-- Launch virtual joystick -->
    <node name="virtual_joystick" pkg="tbai_ros_utils" type="virtual_joystick.py" output="screen"/>

    <!-- Start Rviz visualizer -->
    <group if="$(arg rviz)">
        <arg name="rvizconfig" default="$(find tbai_ros_mpc)/launch/rviz/robot.rviz" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>

</launch>
