<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Arguments -->
    <arg name="controllers_ns" default="g1"/>
    <arg name="tbai_config_path" default="$(find tbai_ros_g1_mujoco)/config/g1_rl.yaml"/>
    <arg name="network_interface" default="lo"/>
    <arg name="unitree_channel" default="1"/>
    <arg name="run_virtual_joystick" default="true"/>
    <arg name="run_rviz" default="true"/>
   
    <!-- MuJoCo simulation -->
    <arg name="mujoco_simulation" default="false"/>
    <arg name="mujoco_config_file" default="$(find tbai_descriptions)/mujoco/robots/g1/config.yaml"/>
    <group if="$(arg mujoco_simulation)">
        <node name="mujoco_sim" pkg="tbai_ros_utils" type="run_bash.py" output="screen"
              args="tbai_mujoco $(arg mujoco_config_file)"/>
    </group>

    <!-- Configure TBAI -->
    <param name="tbai_config_path" type="string" value="$(arg tbai_config_path)"/>
    <env name="TBAI_GLOBAL_CONFIG_PATH" value="$(arg tbai_config_path)"/>
    <env name="TBAI_G1_NETWORK_INTERFACE" value="$(arg network_interface)"/>
    <env name="TBAI_G1_UNITREE_CHANNEL" value="$(arg unitree_channel)"/>
    <env name="TBAI_ROBOT_DESCRIPTION_PATH" value="$(find tbai_descriptions)/urdf/robots/g1/g1.urdf"/>

    <!-- MuJoCo sensor publishing -->
    <env name="TBAI_G1_PUBLISH_IMAGE" value="$(arg mujoco_simulation)"/>
    <env name="TBAI_G1_PUBLISH_POINTCLOUD" value="$(arg mujoco_simulation)"/>
    <env name="TBAI_G1_USE_GROUND_TRUTH" value="$(arg mujoco_simulation)"/>

    <!-- Load robot description -->
    <param name="robot_description"
           command="cat $(find tbai_descriptions)/urdf/robots/g1/g1.urdf"/>

    <!-- Launch G1 RL controller node -->
    <node name="deploy_g1_rl" pkg="tbai_ros_g1_mujoco" type="deploy_g1_rl" output="screen"/>

    <!-- Launch G1 virtual joystick for velocity commands and controller switching -->
    <group if="$(arg run_virtual_joystick)">
        <node name="g1_virtual_joystick" pkg="tbai_ros_g1_mujoco" type="g1_virtual_joystick.py" output="screen"/>
    </group>

    <!-- Start Rviz visualizer -->
    <group if="$(arg run_rviz)">
        <arg name="rvizconfig" default="$(find tbai_ros_g1_mujoco)/launch/rviz/g1.rviz"/>
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen"/>
    </group>

</launch>
